<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopTemplate.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="https://app.shopivana.com/Content/images/Icons/favicon.png?1.0.2.4?id=1.0.2.4" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/custom-style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--end::Global Stylesheets Bundle-->
    <style>
        .validation-summary-errors {
            font-size: .925rem;
            color: #f1416c;
        }

        .select2-container {
            padding: 0px;
        }

        .no-auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 540px;
        }

        .no-auth .btn.btn-primary {
            background: #cf397e !important;
            color: #ffffff !important
        }

            .no-auth .btn.btn-primary:hover:not(.btn-active), .no-auth .btn.btn-primary:active, .no-auth .btn.btn-primary:focus {
                background-color: #af2864 !important;
            }


        .validation-summary-errors ul {
            list-style: none;
            padding: 0;
        }
        .modal_content {
            padding-bottom: 2rem;
        }

            .modal_content h4 {
                font-size: 1.125rem;
                line-height: 1.5rem;
                color: #000000;
                margin-bottom: 0.25rem;
            }

            .modal_content p {
                margin: 0.375rem 0;
            }

            .modal_content code {
                font-family: inherit;
                color: #42474c;
                background-color: #e8e9eb;
                margin: auto 2.5rem;
                padding: 0.25rem;
                line-height: 2.5rem;
            }

            .modal_content ul {
                margin: 0.625rem 2.5rem;
                list-style: circle;
            }

            .modal_content li, .modal_content p {
                font-size: 1rem;
                line-height: 1.5rem;
                color: #000000;
            }
        .gradient-bg {
            background-image: url('https://talsuite.s3.ap-south-1.amazonaws.com/BIZ365/Assets/splash.webp?1.0.2.4');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            min-height: 100vh;
            height: fit-content;
        }
        .input__label {
            position: absolute;
            left: 0;
            top: 0;
            padding: 8px 10px;
            margin: 8px;
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            background: #fff;
            transition: transform 120ms ease-in;
            line-height: 1.2;
            font-size: 13px;
            color: #6f7780;
        }

        .input__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 1px solid #e6e6e6;
            padding: 0px 16px;
            color: currentColor;
            background: #fff;
            border-radius: 4px;
            height:52px;
        }

            .input__field:not(:-moz-placeholder-shown) + .input__label {
                transform: translate(0.25rem, -65%) scale(0.8);
                color: #cf397e;
            }

            .input__field:not(:-ms-input-placeholder) + .input__label {
                transform: translate(0.25rem, -65%) scale(0.8);
                color: #cf397e;
            }

            .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
                transform: translate(0.25rem, -65%) scale(0.8);
                    color: #cf397e;

            }

            .input__field:focus-visible {
                outline-offset: 0px;
                    border: 2px solid #cf397e;

                outline: none;
            }
            .input__field:-internal-autofill-selected {
                appearance: menulist-button;
            }
                .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {background-image: none !important;
                background-color: #ffffff !important;
            }
    </style>
    <style>
        .timeline-label:before {
            left: 91px;
        }

        .blob {
            background: black;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);
            animation: pulse-black 1.5s infinite;
            padding: 10px 20px;
            border-radius: 6px;
            color: #fff;
            font-weight: 500;
            font-size: 1.2em;
            cursor: pointer;
        }

            .blob.red {
                background-color: #50cd89;
                box-shadow: 0 0 0 0 #50cd89;
                animation: pulse-red 2s infinite;
            }

                .blob.red:hover {
                    color: #ffffff;
                    background-color: #47be7d !important;
                    animation: none;
                }

            .blob.btn-primary:hover {
                color: #ffffff !important;
            }

        @@keyframes pulse-red {
            0% {
                transform: scale(0.90);
                box-shadow: 0 0 0 0 #50cd89AA;
            }

            70% {
                transform: scale(1);
                box-shadow: 0 0 0 16px #50cd8900;
            }

            100% {
                transform: scale(0.90);
                box-shadow: 0 0 0 0 #50cd8900;
            }
        }
    </style>
    <style>
        .onboarding-card {
            margin: auto;
            max-width: 450px;
            border-radius: 8px;
            box-shadow: 0 2px 6px #1a181e0a;
            background-color: #fff;
        }

        .p48 {
            padding: 48px;
        }

        .mb40 {
            margin-bottom: 40px;
        }

        .onboarding-card .section-text-1 {
            font-size: 28px;
            line-height: 36px;
            font-weight: 500;
        }

        .onboarding-card .mb8 {
            margin-bottom: 8px;
        }

        .onboarding-card .c-black-3 {
            color: #4d4d4d;
        }

        .onboarding-card .custom-stepper-step {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: auto;
        }

        .onboarding-card .custom-stepper-step-indicator {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: stretch;
            flex-direction: column;
        }

        .onboarding-card .custom-stepper-step-status-indicator.checked {
            background-color: #009ef7;
            border-color: #009ef7;
        }

        .onboarding-card .custom-stepper-step-status-indicator {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            border: 2px solid rgba(0,0,0,0);
            padding: 8px;
            -webkit-user-select: none;
            user-select: none;
            min-height: 40px;
        }

        .onboarding-card .custom-stepper-step-connector.active {
            background-color: #009ef7;
        }

        .onboarding-card .custom-stepper-step-connector {
            width: 2px;
            height: 100%;
        }

        .onboarding-card .flex-1 {
            flex: 1 1;
        }

        .onboarding-card .custom-stepper-step-details {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            min-height: 40px;
            margin-left: 16px;
            margin-bottom: 28px;
        }

        .onboarding-card .section-text-5 {
            font-size: 16px;
            margin: 0;
            line-height: 24px;
            font-weight: 500;
        }

        .onboarding-card .c-gray-1 {
            color: gray;
        }

        .onboarding-card .text-8 {
            font-size: 14px;
            margin-top: 0px;
            line-height: 20px;
        }

        .onboarding-card .external-link {
            color: #1a181e;
        }

        .onboarding-card .underline {
            text-decoration: underline;
        }

        .onboarding-card .c-purple-1-i {
            color: #009ef7 !important;
        }

        .onboarding-card .custom-stepper-step-indicator {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: stretch;
            flex-direction: column;
        }

        .onboarding-card .custom-stepper-step-status-indicator.active {
            color: #009ef7;
            background-color: #009ef71a;
            border-color: #009ef7;
        }

        .onboarding-card .btn-small {
            padding: 8px 16px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            transition: .15s ease-in-out;
            background-color: #0000;
            -webkit-user-select: none;
            user-select: none;
            background-color: #009ef7;
            border-radius: 4px;
            text-align: center;
            outline: none;
            border: none;
            text-decoration: none;
        }

        .onboarding-card .custom-stepper-step-status-indicator.disabled {
            color: #999;
            background-color: #fff;
            border-color: #ccc;
        }

        .onboarding-card .custom-stepper-step-connector.disabled {
            background-color: #ccc;
        }

        .onboarding-card .c-gray-4 {
            color: #999;
        }

        #kt_content {
            min-height: 93vh;
        }

        .animate__animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-duration: var(--animate-duration);
            animation-duration: var(--animate-duration);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .animate__zoomIn {
            -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
        }
    </style>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
</head>
<body class="bg-body">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SRRMXB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
        <main role="main">
            @RenderBody()
        </main>
   
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/plugins.bundle.js"></script>
    <script src="~/js/scripts.bundle.js?id=1.0.2.4"></script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
    
    
    <!--begin::Page Custom Javascript(used by this page)-->
    
    <!--end::Page Custom Javascript-->
    <script>
        localStorage.sentToServer = '0';        
        
        
    </script>
    

    
    <script>
        function displayToggle(id){
            if($(id).attr('style') == 'display : none') {
                $(id).attr('style','display : true')
            }
            else{
                $(id).attr('style','display : none')
            }
        }
        function showPassword(elem) {
            if ($(elem).prev().prev().attr('type') == 'password') {
                $(elem).prev().prev().attr('type', 'text');
                $(elem).find('i').removeClass('bi-eye-slash').addClass('bi-eye');
            }
            else {
                $(elem).prev().prev().attr('type', 'password');
                $(elem).find('i').removeClass('bi-eye').addClass('bi-eye-slash');
            }
        }
        var ApplicationType = 'Shopivana';
        var blockUI;
        function showLoader() {
            var target = document.querySelector('#kt_body1');
            blockUI = new KTBlockUI(target, { message: '<div class="blockui-message"><span class="spinner-border text-primary"></span> ' + (ApplicationType === 'Bananashop' ? 'Going Bananas...' : 'Processing...') + '</div>' });
            blockUI.block();
        }
        function hideLoader() {
            if (blockUI.isBlocked()) blockUI.release();
            blockUI.destroy();
        }
        function showInfo(Message) {
            Swal.fire({ text: Message, icon: "info", buttonsStyling: false, confirmButtonText: "Okay", customClass: { confirmButton: "btn btn-primary" } });
        }
        function showSuccess(Message, Url) {
            if (Url) Swal.fire({ html: Message, icon: "success", buttonsStyling: false, confirmButtonText: "Okay", customClass: { confirmButton: "btn btn-success" } }).then((result) => { if (result.isConfirmed) window.open(Url, "_self"); });
            else Swal.fire({ html: Message, icon: "success", buttonsStyling: false, confirmButtonText: "Okay", customClass: { confirmButton: "btn btn-success" } });
        }
        function showError(Message) {
            Swal.fire({ html: Message, icon: "error", buttonsStyling: false, confirmButtonText: "Okay", customClass: { confirmButton: "btn btn-danger" } });
        }
        function showWarning(Message) {
            Swal.fire({ html: Message, icon: "warning", buttonsStyling: false, confirmButtonText: "Okay", customClass: { confirmButton: "btn btn-warning" } });
        }
        function startProcess(selector) { document.querySelector(selector).setAttribute("data-kt-indicator", "on"); document.querySelector(selector).disabled = true; }
        function endProcess(selector) { document.querySelector(selector).removeAttribute("data-kt-indicator"); document.querySelector(selector).disabled = false; }
    
        localStorage.sentToServer = '0';
    
        function ValidateEmail(input) {
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (input.match(expr)) {
                return true;
            }
            else {
                return false;
            }
        }        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
