
@{
    ViewData["Title"] = "Celebrate";

    
}
<div class="bg-body">
    <div class="d-flex flex-column flex-root" id="kt_body1">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-fluid py-10 gradient-bg" style="flex: 1 auto; min-width: 0;">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-400px p-10 p-lg-10 mx-auto bg-white no-auth" style="border-radius: 8px;">
                        <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" id="kt_sign_in_form" asp-action="Index" asp-controller="Home">
                            <div class="mb-5">
                                <a href="https://shopivana.com" target="_blank" class="pb-10 d-block">
                                    <img alt="Logo" src="https://app.shopivana.com/Content/images/logo_default_dark.png?1.0.2.4" class="h-60px">
                                </a>
                                <p class="text-dark mb-5 fs-1">Congratulations, you’re all set!</p>
                            </div>
                            
                            <div class="text-left">
                                <button  id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 my-4" >
                                    <span class="indicator-label">Continue</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
