<body id="kt_body" class="bg-body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SRRMXB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root" id="kt_body1">
        <!--begin::Authentication - Sign-in -->
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <!--begin::Aside-->
            <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative d-none" style="background-color: #eef3f7;">
                <!--begin::Wrapper-->
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                    <!--begin::Content-->
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <!--begin::Logo-->
                        <a href="https://shopivana.com" target="_blank" class="py-9 mb-5">
                            <img alt="Logo" src="https://app.shopivana.com/Content/images/logo_default_dark.png?1.0.2.4" class="h-100px">
                        </a>
                        <!--end::Logo-->
                        <!--begin::Title-->
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #444;">Welcome to Shopivana</h1>
                        <!--end::Title-->

                    </div>
                    <!--end::Content-->
                    <!--begin::Illustration-->
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url('')"></div>
                    <!--end::Illustration-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Aside-->
            <!--begin::Body-->
            <div class="d-flex flex-column flex-lg-row-fluid py-10 gradient-bg" style="flex: 1 auto; min-width: 0;">
                <!--begin::Content-->
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <!--begin::Wrapper-->
                    <div class="w-lg-400px p-10 p-lg-10 mx-auto bg-white no-auth" style="border-radius: 8px;width:90%;">
                        


<!--begin::Form-->
<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_new_password_form" asp-action="ResetPassword" method="post">
    
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3">Setup New Password</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-400 fw-bold fs-4">
            Already have reset your password ?
            <a asp-controller="User" asp-action="Login" class="link-primary fw-bolder">Sign in here</a>
        </div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group-->
    <div class="mb-10 fv-row fv-plugins-icon-container" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Label-->
            <label class="form-label fw-bolder text-dark fs-6">Password</label>
            <!--end::Label-->
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid" type="password" onchange="    checkPassword();" placeholder="" id="Password" name="Password" autocomplete="off">
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->
            <!--begin::Meter-->
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <!--end::Meter-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Hint-->
        <div class="text-muted">Use 8 or more characters.</div>
        <!--end::Hint-->
    <div class="fv-plugins-message-container invalid-feedback" id="PasswordFeedback"></div></div>
    <!--end::Input group=-->
    <!--begin::Input group=-->
    <div class="fv-row mb-10 fv-plugins-icon-container">
        <label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" id="ConfirmPassword" name="ConfirmPassword" autocomplete="off" onChange="checkBothPasswordsMatch();">
    <div class="fv-plugins-message-container invalid-feedback" id="confirmPassFeedback"></div></div>
    <!--end::Input group=-->
    <!--begin::Input group=-->
    <div class="fv-row mb-10 fv-plugins-icon-container">
        <div class="form-check form-check-custom form-check-solid form-check-inline">
            <input class="form-check-input" type="checkbox" id="toc" name="toc" value="1" onchange="    buttonCheck();">
            <label class="form-check-label fw-bold text-gray-700 fs-6">
                I Agree &amp;
                <a href="https://www.shopivana.com/terms-of-service" class="ms-1 link-primary" target="_blank">Terms and conditions</a>.
            </label>
        </div>
    <div class="fv-plugins-message-container invalid-feedback"></div></div>
    <div class="validation-summary-valid invalid-feedback" data-valmsg-summary="true" id="validationFeedback"></div>
    <!--end::Input group=-->
    <!--begin::Action-->
    <div class="text-center">
        <button type="button" id="kt_new_password_submit" disabled onclick="    return submitForm();" class="btn btn-lg btn-primary fw-bolder">
            <span class="indicator-label">Submit</span>
            <span class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
    <!--end::Action-->
<div></div></form>
<!--end::Form-->



                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Content-->

            </div>
            <!--end::Body-->
        </div>
        <!--end::Authentication - Sign-in-->
    </div>
    <!--end::Main-->
    
    
    <!--end::Page Custom Javascript-->
    <script>
        function buttonCheck(){
            $("#validationFeedback").html("");
            if ($("#toc").is(":checked")) {
                $("#kt_new_password_submit").attr('disabled',false);
            }
            else{
            
                $("#kt_new_password_submit").attr('disabled',true);
            }
        }
        function checkPassword(){
            var retVal = false;
            $("#validationFeedback").html("");
            var newPassword = $("#Password").val();
            if(newPassword==""){
                $("#PasswordFeedback").html("Password can not be blank");
                $("#PasswordFeedback").focus();

            }
            else{
                if (newPassword.length < 8) {
                    $("#PasswordFeedback").html('Password Length can not be less than 8');
                    $("#PasswordFeedback").attr('style', "")
                }
                else {
                    $("#PasswordFeedback").html('')
                    $("#PasswordFeedback").attr('style',"display:none")
                    retVal = true;
                }
            }
            return retVal;
        }

        function checkBothPasswordsMatch() {
            $("#validationFeedback").html("");
            var retVal=false;
            var newPassword = $("#Password").val();
            var conPassword = $("#ConfirmPassword").val();
            
            if (conPassword == "") {
                $("#confirmPassFeedback").html("Confirm Password can not be blank");
                $("#confirmPassFeedback").focus();
                
            }
            else{
                if (newPassword != conPassword) {
                    $("#confirmPassFeedback").html("Confirm Password and New Password does not match");
                    $("#confirmPassFeedback").focus();
                
                }
                else {
                    $("#confirmPassFeedback").html("");
                    retVal =  true;
                }
            }
            return retVal;
        }

        function submitForm() {
            $("#validationFeedback").html("");
            var retVal = false;
            retValConFirmPass = checkBothPasswordsMatch()
            retPassVal = checkPassword()
            retVal = retPassVal &  retValConFirmPass
            
            if(retVal){
                $("#kt_new_password_form").submit();
                return true;
            }
            else{
                return false;
            }
            
        }
            
    </script>
</body>